
    <div class="container">
    <div class="panel panel-primary">
<div class="panel-heading"> Bibliotheque en ligne</div>
        <div class="panel_body">
            
    <h1 [hidden]="logged">
        Login
    </h1>
    <ul>
    <li >{{info.desc}}</li>
    <div [hidden]="logged" class="form-group">
        <input type="text" [(ngModel)]="zoneText.login">
        <br/>
        <input type="password" [(ngModel)]="zoneText.pass">
        <br/>
        <button (click)="login()"
        >
        Login
    </button>
    </div>
    <div [hidden]="!logged">
         <button (click)="deco()"
        >
        Deconnection
    </button>
        <h3>Liste des livres :</h3>
        <p>Nom du livre - Type - Reserve ? - locataire</p>
        <ul class="list-group"> 
        <li *ngFor="let c of Livres">{{c.titre}} - {{c.type}} 
            <button style="background-color: green"  [hidden]="c.dispo" (click)="reserver(c)">Dispo</button>
            <button style="background-color: red" [hidden]="!c.dispo" (click)="reserver(c)">Reserver</button>
- {{c.prop}}  
    </li>
    
        </ul>

    </div>

    </ul>
    </div>
    </div>
    <p>Login : Admin Pass: Admin Pour un habitue</p>
     <br/>
     <p>Login : User Pass: User Pour un User ordinaire</p>
    </div>

    <router-outlet></router-outlet>
